<!DOCTYPE html>
<html lang="en">
  <head>
    {%load static%}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invite</title>
    <link rel="stylesheet" href=" {% static "invite.css" %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    {% if messages %} {% for message in messages %}
    <div
      style="width: 93%; height: auto; padding: 1.5vw; border-radius: 5px; background-color: 
      {% if message.tags == 'error' %}red{% elif message.tags == 'success' %}green{% else %}gray{% endif %}; 
      color: white; margin :2vw;"
    >
      {{ message }}
    </div>
    {% endfor %} {% endif %}
    <div class="container">
      <header style="margin: 5%">
        <div class="logo">
          <i class="ri-code-line python-icon"></i>
          <h1>Invite</h1>
        </div>
      </header>

      <div class="card invite-tasks">
        <div class="blue-shape"></div>
        <h1>Invite tasks</h1>
        <p>Invite friends to register and get Rewards</p>
        <hr />
        <h3>Reward per referral : Rs. {{ref_reward}}</h3>
        <div class="progress">
          <div class="progress-item">
            <h3>
              {% if refs <= max_ref %}{{refs}}{% else %}{{0}}{% endif %}
              /{{max_ref}}
            </h3>
            <p>Invite people</p>
          </div>
          <div class="progress-item">
            <h3>Rs. {{total_reward}}</h3>
            <p>Your Cumulative rewards</p>
          </div>
        </div>
      </div>

      <div class="card">
        <hr />
        <div class="invite-code">
          <div class="invite-code-info">
            <h3>Invite code</h3>
            <p id="code">{{code}}</p>
          </div>
          <button onclick="copyCode()" class="copy-btn">Copy</button>
        </div>
        <br />
        <hr />
        <br />
        <div class="invite-code">
          <div class="invite-code-info">
            <h3>Invite link</h3>
            <p id="link">{{host}}/signup/{{code}}</p>
          </div>
          <button onclick="copyLink()" class="copy-btn">Copy</button>
        </div>
        <hr />
      </div>
      <div class="card mission-rewards">
        <h3>You have invited {{refs}} people</h3>
        <p>Tap to receive rewards</p>
        <form method="post" action="">
          {% csrf_token %}
          <input type="hidden" />
          <button type="submit" class="receive-btn">Receive</button>
        </form>
      </div>
      <br /><br /><br />
      {% include "nav.html" %}
    </div>
    <script>
      let code = document.getElementById("code").innerHTML;
      let link = document.getElementById("link").innerHTML;
      console.log(code);
      console.log(link);
      function copyCode() {
        navigator.clipboard.writeText(code);
        alert("Referral code : " + code + "\nCode copied to clipboard");
      }
      function copyLink() {
        navigator.clipboard.writeText(link);
        alert("Referral link : " + link + "\nLink copied to clipboard");
      }
    </script>
  </body>
</html>
